{
    "name": "flaskPhotoApp",
    "primary": {
        "type": "flask",
        "config": {
            "module": "photo",
            "callable": "application"
        }
    },
    "additional": [{
        "match": {
            "uri": ["/static/*"]
        },
        "action": {
            "share": ["static"]
        }
    }]
}
